@page
@model BirthDayPartyBooking.Pages.Admin.OrderManagement.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <input type="hidden" asp-for="Order.Id" />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Place.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Place.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Note)
        </dd>
    </dl>
    <dl class="row">
        <form method="post" asp-page-handler="Accept">
            <div class="form-group">
                <input type="submit" value="Accept" class="btn btn-primary" />
            </div>
        </form>
        <form method="post" asp-page-handler="Reject">
            <div class="form-group">
                <input type="submit" value="Reject" class="btn btn-secondary" />
            </div>
        </form>
    </dl>

    <dl class="row">
        <form method="post" asp-page-handler="Close">
            <div class="form-group">
                <input type="submit" value="Close" class="btn btn-primary" />
            </div>
        </form>
    </dl>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetails[0].Service.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetails[0].Service.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetails[0].Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetails[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetails[0].Service.ServiceType)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderDetails)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Service.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Service.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Service.ServiceType.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@*
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Order.Id" />
            <div class="form-group">
                <label asp-for="Order.GuestId" class="control-label"></label>
                <select asp-for="Order.GuestId" class="form-control" asp-items="ViewBag.GuestId"></select>
                <span asp-validation-for="Order.GuestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.TotalPrice" class="control-label"></label>
                <input asp-for="Order.TotalPrice" class="form-control" />
                <span asp-validation-for="Order.TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Note" class="control-label"></label>
                <input asp-for="Order.Note" class="form-control" />
                <span asp-validation-for="Order.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.PlaceId" class="control-label"></label>
                <select asp-for="Order.PlaceId" class="form-control" asp-items="ViewBag.PlaceId"></select>
                <span asp-validation-for="Order.PlaceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.DeleteFlag" class="control-label"></label>
                <input asp-for="Order.DeleteFlag" class="form-control" />
                <span asp-validation-for="Order.DeleteFlag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Date" class="control-label"></label>
                <input asp-for="Order.Date" class="form-control" />
                <span asp-validation-for="Order.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
*@
<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
