@page
@model BirthDayPartyBooking.Pages.Admin.PlaceManagement.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@* <h1>Details</h1>

<div>
    <h4>Place</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Place.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Place.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Place.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Place.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Place.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Place.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Place.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Place.Price)
        </dd>
    </dl>
</div> *@
<section class="bg-white dark:bg-gray-900">
    <div class="mx-auto max-w-2xl lg:py-8">
        <h2 class="text-5xl font-bold text-gray-900 dark:text-white">Details Place</h2>
            <input type="hidden" asp-for="Place.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    <label asp-for="Place.Name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                    <input asp-for="Place.Name" disabled type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type name" required="">
                   
                </div>
                <div class="w-full">
                    <label asp-for="Place.Price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                    <input asp-for="Place.Price" disabled type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="$2999" required="">
          
                </div>
                <div class="w-full">
                    <label asp-for="Place.Address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                    <input asp-for="Place.Address" disabled  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="$2999" required="">
                </div>

                <div class="sm:col-span-2">
                    <label asp-for="Place.Description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                    <textarea asp-for="Place.Description" disabled rows="8" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Your description here"></textarea>
                </div>
                <div class="w-full">
                    <input type="hidden" asp-for="Place.HostId" disabled class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="$2999" required="">
                    <input type="hidden" asp-for="Place.DeleteFlag" disabled class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="$2999" required="">
                </div>
            </div>
            <button onclick="window.location.href='./Edit?id=@Model.Place.Id'" asp-route-id="@Model.Place.Id" class="inline-flex items-center mx-2 px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Edit
            </button>
            <button onclick="window.location.href='./Index'" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Back to list
            </button>
    </div>
</section>

