@page
@model BirthDayPartyBooking.Pages.Customer.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<div>
    @Html.DisplayFor(model => model.Customer.Id)
</div>
<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post" asp-page-handler="FormOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.PlaceId" class="control-label"></label>
                <select asp-for="Order.PlaceId" class="form-control" asp-items="ViewBag.PlaceId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Order.TotalPrice" class="control-label"></label>
                <input asp-for="Order.TotalPrice" class="form-control" readonly/>
                <span asp-validation-for="Order.TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Note" class="control-label"></label>
                <input asp-for="Order.Note" class="form-control" />
                <span asp-validation-for="Order.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Services[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Services[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Services[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Services[0].ServiceType)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Services)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceType.Name)
                    </td>
                </tr>
            }
            <form method="post" asp-page-handler="FormDetail">
            <tr>
                <td>
                    <div class="form-group">
                        <select asp-for="Service.Id" class="form-control" asp-items="ViewBag.ServiceId"></select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </td>
            </tr>
            </form>
        </tbody>
    </table>
</div>
<div>
    <form method="post" asp-page-handler="ClearDetail">
        <div class="form-group">
            <input type="submit" value="Clear" class="btn btn-primary" />
        </div>
    </form>
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
